<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h2 class='display-4 mt-5'>Account Downgrade</h2>

        <p><i class="fas fa-exclamation-triangle text-warning"></i> All your private wikis will become public.
        <p><i class="fas fa-exclamation-triangle text-warning"></i> We are unable to issue any refund.
 
      <hr>
      <lead> Do you still want to downgrade to standard account? </lead>

      <div class="row mt-4">
        <div class="col-md-1">
          <form method="POST" action="/users/downgrade">
            <button type="submit" class="btn btn-danger">Yes</button>
          </form>
          <a href= <%= referer %> ><span class="btn btn-primary mt-4">No</span></a>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>