<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h2 class='display-4 mt-4'>Upgrade to premium account</h2>
      <blockquote>A one time upgrade fee of $15 enables you to - </blockquote>
      <p><i class="far fa-check text-primary font-weight-bold"></i> Create private wikis
      <p><i class="far fa-check text-primary font-weight-bold"></i> Pick fellow Wikiville editors to collaborate on your private wikis

      <div class="row mt-4">
        <div class="col-md-8">
          <form method="POST" action="/users/upgrade">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_4arHW0b6zwM3x4Kb68CzzMFV"
              data-amount="1500"
              data-name="Account Upgrade"
              data-description="Upgrade to premium account"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          </form>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>